.theme-switch{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    padding: 0;
    right: 2em;
    top: 2em;
    position: absolute;
}

table{
    font-size: 100%;
}

.tableRecord{
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
    white-space: nowrap;
    display: inline-block;
}

th,td{text-align: center;}

.dns-record.deletion{
    background-color: #ff000040;
}