.fab {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    padding: 0;
    left: 0em;
    top: 0em;
    position: fixed;
    font-family: "Material Symbols Outlined";
    z-index: 100;
}
.fab.theme-switch {
    right: 2em;
    left: unset;
    top: 2em;
    bottom: unset;
}
.fab.addNewEntry {
    right: 2em;
    left: unset;
    top: unset;
    bottom: 2em;
}

.icon{
    font-family: 'Material Symbols Outlined';
    display: inline-block;
    font-size: 1em;
    text-align: center;
}

.fab .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

table{
    font-size: 100%;
}

.tableRecord{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
}

th,td{text-align: center; overflow-x: hidden; padding: 0}

.dns-record.addition{
    background-color: #00ff0040;
}

.dns-record.deletion{
    background-color: #ff000040;
}

.button-primary.deleteButton{
    --button: #F03333;
    --button-hover: #DB1E1E;
}

@media (max-width: 959px) {

    #table-header{ display: none; }

    table tr:not(#table-header) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3em;
    }

    table tr:not(#table-header) td {
        display: block;
        width: 100%;
        padding: 0.5em 0;
        box-sizing: border-box;
    }
}

@media (min-width: 600px) {
    body {
        zoom: 1.3;
    }
}

@media (min-width: 800px) {
    body {
    zoom: 1.5;
    }
}

table tr:nth-last-child(1) th {
    border-bottom: none;
}

dialog {
    background-color: var(--background);
    color: var(--text);
}

dialog::backdrop{
    background-color: #0000007f;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('../fonts/MaterialSymbolsOutlined_48pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}